
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forms.css">
    <title>New Post</title>
</head>
<body>
    <div class="form-contianer-post">
        <h2>New post</h2>
        <form action="/newPost" method="post">
            <div class="form-group">
                <label for="name">Type your post</label>
                <input type="text" id="NewPost" name="newPost" placeholder="Hello" required autocomplete="off">
                
            </div>
            
            <button type="button" class="submit-btn">Validate the Post</button>
        </form>
    </div>
</body>
</html>